@import '../../css/mixins';
@import '../../css/variables';
.form {
    text-align: center;

    &__button {
        @include max-width-1280 {
            height: 50px;
            line-height: 46px;
        }

        &:hover {
            border-color: lighten($red, 10%);
            background-color: lighten($red, 10%);
        }
    }
}

.form-thanks {
    text-align: center;

    &__text {
        font-size: rem(18px);
        line-height: 30px;
        margin-bottom: 30px;
    }
}